.container {
  display: flex;
  height: 650px;
  position: relative;
}

.image {
  padding-top: 80px;
  padding-bottom: 84px;
}

.textContainer {
  font-size: 78px;
  font-weight: 700;
  position: absolute;
  color: white;
  top: 221px;
  left: 660px;
  z-index: 1;
  width: 738px;
  height: 368px;
  margin: 0;
  padding: 0;
}

.robin {
  margin: 0;
  padding: 0;
}

.probably {
  margin: 0;
  padding: 0;
}
