@import "../../../shared/ui/constants.scss";

.container {
  max-width: 636px;
  min-height: 790px;
  margin-bottom: 120px;
}

.image {
	position: relative;
	width: 636px;
	height: 360px;
}

.infoContainer {
  margin-top: -5px;
  padding: 64px 0 64px 64px;
  border: 1px solid $grey;
}

.text {
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: 700;
  max-width: 508px;
  min-height: 180px;
}

.name {
  margin: 64px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  max-width: 508px;
  min-height: 27px;
  color: $grey;
}

.position {
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  max-width: 508px;
  min-height: 27px;
  color: $grey;
}

@media (max-width: 768px) {
	.image {
		width: 332px;
		height: 360px;
	}

	.infoContainer {
		padding: 32px;
	}
}