@import "../../../shared/ui/constants.scss";

.container {
  display: flex;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.textContainer {
  width: 720px;
  height: 600px;
  background-color: $peach-accent;
}

.philosophy {
  font-size: 55px;
  font-weight: 700;
  margin: 120px auto auto 72px;
}

.philosophyText {
  color: $grey;
  font-size: 18px;
  font-weight: 400;
  margin: 24px 72px auto 72px;
}

.aboutMe {
  font-size: 16px;
  margin: 134px auto auto 72px;
  width: 116px;
  border-bottom: 1px solid #5b6876;
}
