.container {
  width: 636px;
  height: 830px;
  margin-bottom: 24px;
}

.containerInfo {
	margin: -5px 0 0 0;
  padding: 0;
  padding: 40px 32px;
  background-color: #181823;
}

.name {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.description {
  font-size: 18px;
  color: #8491a0;
}
