@import "../constants.scss";

.container {
  max-width: 1440px;
  margin: auto;
  height: 422px;
  box-sizing: border-box;
  padding: 80px 72px;
  background-color: #181823;
  display: flex;
}

.socialLinks {
  display: flex;
  margin: 32px 0 0 0;

  svg {
    margin: 0 16px 0 0;
  }
}

.copyright {
  color: $text-color;
  font-size: 16px;
  margin: 142px 0 0 0;
	max-width: 426px;
}

.links {
	margin: 0 0 0 344px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  color: white;
	width: 196px;
	font-size: 16px;
}

@media (max-width: 768px) {
	.container {
		padding: 80px 40px 56px 40px;
	}

	.links {
		margin: 0 0 0 26px;
	}
	
	.column {
		width: 154px;
	}

	.copyright {
		width: 329px;
	}
}