@import "../constants.scss";

.container {
  height: 88px;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 72px;
  position: relative;
}

.backgroundBox {
  position: absolute;
  width: 900px;
  height: 900px;
  background-color: #181823;
  right: 0;
  top: 0;
  z-index: -2;
}

.menuList {
  display: flex;
  li {
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact {
  background-color: #5221e6;
}
